<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <assembly name="NorDev.Aop.Web" />

    <namespace name="NorDev.Aop.Web" />
    <namespace name="NorDev.Aop.Web.Services" />

    <sectionExtension type=
"Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration" />

    <container>
      <extension type="Interception" />

      <register type="LoggingCallHandler">
        <lifetime type="singleton" />
      </register>

      <interception>
        <policy name="LoggingPolicy">
          <matchingRule name="rule1" type="NamespaceMatchingRule">
            <constructor>
              <param name="namespaceName" value="NorDev.Aop.Web.Services.*" />
            </constructor>
          </matchingRule>
          <callHandler name="ServiceLoggingCallHandler" type="LoggingCallHandler">
            <property name="Order" value="1" />
          </callHandler>
        </policy>
      </interception>

      <register type="IDemoService" mapTo="DemoService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="PolicyInjectionBehavior" />
      </register>
    </container>
  </unity>
</configuration>